.banner {
  background-image: url(https://images.unsplash.com/photo-1589873215201-c8439cc23f5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
  font-weight: bold;
  text-align: left;
}

.banner p {
  color: rgb(230, 230, 230);
}
